p{
	/*background-color: blue ;*/
	background-image: linear-gradient(120deg,#487eb0,#fbc531);
	/*color: pink;*/
	/*color: #0000FF;*/
	color: rgb(255,0,0);

	/*font-family: ,,"",serif;*?

	/*font-size: xxx-large;*/
	font-size: 2em;

	/*font-style: italic; i tag*/
	/*font-style: oblique;*/

	/*font-weight: bolder,bold,lighter;*/
	/*font-weight: 100;  strong tag*/

	/*font-variant: small-caps; simple letters wil be capital leters with same height,if we type capital those will not change*/

	/*text-align: justify;*/

	vertical-align: bottom;

	/*text-indent: -20px;*/
	text-indent: 20px;

	text-transform: capitalize;
	/*text-transform: uppercase;*/

/*	letter-spacing: 43px;   */

	word-spacing: 30px;

	white-space:nowrap;



}

 td.top {
    vertical-align: top;
}
td.middle {
    vertical-align: middle;
}
td.bottom {
    vertical-align: bottom;
}

h1 {
   color: blue;
   font-size: 30pt;
   text-shadow: 10px 2px 4px red;


}

 px pc pt in mm cm